<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ShopHop! - Everything in one place.</title>
  <link rel='stylesheet' href="{{ url_for('static',filename='styleform.css') }}"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="gradient"></div>
<form class="searchbox" action="{{ url_for("gfg")}}" method="post">
        <input type="text" placeholder="Search" name = "search" id="search_query" />
        <button type="submit" value="search">&nbsp;</button>
    </action=>
    <div class="byline"><p>Have Everything in One Place.</p><p>Brought to you by <a href="#">ShopHop!</a></p></div>
    <!-- partial -->
  
</body>
</html>